/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular');
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium');
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2');
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold');
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black');
       url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff');
}

html 
{
    box-sizing: border-box;/*свойства width и height включают в себя значения полей (padding) и границ (border), но не отступов (margin).*/
}

.html_lock {
  touch-action: none; /*для телефона*/
  height: 100%;
}

*,
*::before,
*::after
{
    box-sizing: inherit; /*Все элементы наследуют значение своего родителя. В данном случае у всех элементов значение box-sizing: border-box*/
}

body
{
    font-family: "Roboto", sans-serif; /*семейство шрифтов, которое будет использоваться для оформления текста*/
    font-size: 20px; /*основной размер шрифта*/
    line-height: normal; /*устанавливает межстирочный интервал*/

     min-width: 280px; /*минимальная ширина элемента*/
     margin: 0; /*убирает поля элемента*/

     color: #1f1f24;
     background-color: #fff;
}

.lock {
    overflow: hidden;
  }

img 
{
    max-width: 100%; /*максимальная ширина изображения 100%*/
}

a
{   
    position: relative;
    text-decoration: none; /*убираем поддчеркивание у ссылок*/

    color: inherit; /*ссылки наследует значение цвета у своего родителя*/
}

/*класс, который скрывает содержание*/

.visually-hidden
{
    position: absolute !important;/*удаляет элемент из потока документа*/

    overflow: hidden;/*cкрывает вылезающий за границы контент*/
    clip: rect(1px 1px 1px 1px); /*Вырезает ту часть контента, которая должна отображаться. Для IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);/*вырезает ту часть контента, которая должна отображаться*/

    width: 1px; /*минимально возможный размер ширины (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
    height: 1px; /*минимально возможный размер высоты (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
    padding: 0;/*убирает отступы*/

    border: 0;/*убирает границы*/
}

/*блок для контента*/

.fixed-container
{
    width: 1170px; /*ширина контенира 1170px*/
    margin: 0 auto;/*верхние и нижние поля равны 0 а, а левое и правое устанавливаются автоматически*/
}
 
/* чтобы влезал слайдер (1230px)*/
  @media(max-width: 1240px) {
    .fixed-container {
      width: 985px;/*ширина контенира 945px*/
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;/*верхние и нижние поля равны 0 а, а левое и правое устанавливаются автоматически*/
    }
}
  @media (max-width:  992px){
    .fixed-container {
      /*ширина контенира 768px*/
      width: 768px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto
    }
  }

  @media (max-width: 767px){
      .fixed-container {
      padding-left: 20px;
      padding-right: 20px;
      width: 577px;
      margin: 0 auto
    }
  }

  @media (max-width: 576px){
    .fixed-container {
      padding-left: 20px;
      padding-right: 20px;
      width: 376px;
      margin: 0 auto
    }
  }

    /*@media (max-width: 984px){*/
      @media (max-width: 375px){
      .fixed-container {
      width: 280px;/*ширина контенира 320px*/
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;/*верхние и нижние поля равны 0 а, а левое и правое устанавливаются автоматически*/
    }
  }
  

}